version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "development"
    labels:
      - "dependencies"
      - "dependabot"
    commit_message:
      prefix: "chore"
      include: "scope"